# Default ignored files
/.idea/
/.images/
/.vscode/
/.venv/

# Ignore the entire esoui directory by default
/esoui/

# UN-ignore the contents for AI model reference (Antigravity etc)
!/esoui/app/
!/esoui/appandingame/
!/esoui/common/
!/esoui/fontdefs/
!/esoui/fontstrings/
!/esoui/ingame/
!/esoui/ingamelocalization/
!/esoui/internalingame/
!/esoui/internalingamelocalization/
!/esoui/lang/
!/esoui/libraries/
!/esoui/overlay/
!/esoui/pregame/
!/esoui/pregameandingame/
!/esoui/pregameandinternalingame/
!/esoui/pregamelocalization/
!/esoui/publicallingames/
